apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  labels:
    app: "{{ item }}"
    flavor.template.kubevirt.io/large: "true"
    vm.kubevirt.io/template.namespace: openshift
    workload.template.kubevirt.io/server: "true"
  name: "{{ item }}"
  namespace: "{{ sap_create_vm_namespace }}"
spec:
  dataVolumeTemplates:
  - metadata:
      name: "{{ item }}-hana-data-disk"
    spec:
      source:
        blank: {}
      storage:
        resources:
          requests:
            storage: "{{ sap_create_vm_memory|int * 3 }}Gi"
  - metadata:
      name: "{{ item }}-hana-log-disk"
    spec:
      source:
        blank: {}
      storage:
        resources:
          requests:
            storage: "{{ sap_create_vm_memory|int * 1 }}Gi"
  - metadata:
      name: "{{ item }}-hana-share-disk"
    spec:
      source:
        blank: {}
      storage:
        resources:
          requests:
            storage: 50Gi
  - metadata:
      name: "{{ item }}-rootdisk"
    spec:
      source:
        pvc:
          name: "rhel-{{ sap_create_vm_rhel_version }}"
          namespace: openshift-virtualization-os-images
      storage:
        resources:
          requests:
            storage: 50Gi
  running: true
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: large
        vm.kubevirt.io/os: rhel8
        vm.kubevirt.io/workload: server
      labels:
        flavor.template.kubevirt.io/large: "true"
        kubevirt.io/domain: "{{ item }}"
        kubevirt.io/size: large
        vm.kubevirt.io/name: "{{ item }}"
        workload.template.kubevirt.io/server: "true"

    spec:
      domain:
        ioThreadsPolicy: auto
        memory:
          guest: "{{ sap_create_vm_memory }}Gi"
          hugepages:
            pageSize: 1Gi

        cpu:
          cores: {{ sap_create_vm_cores|int }}
          threads: {{ sap_create_vm_threads|int }}
          sockets: {{ sap_create_vm_sockets|int }}
          dedicatedCpuPlacement: true
          features:
          - name: x2apic
            policy: require
          - name: rdtscp
            policy: require
          - name: invtsc
            policy: require
          isolateEmulatorThread: true
          model: host-passthrough
          numa:
            guestMappingPassthrough: {}
        devices:
          networkInterfaceMultiqueue: true
          blockMultiQueue: true
          autoattachMemBalloon: false
          disks:
          - disk:
              bus: virtio
            name: cloudinitdisk
          - bootOrder: 1
            disk:
              bus: virtio
            name: rootdisk
            io: native
          - disk:
              bus: virtio
            name: hana-data-disk
            cache: none
            io: native
          - disk:
              bus: virtio
            name: hana-share-disk
            cache: none
            io: native
          - disk:
              bus: virtio
            name: hana-log-disk
            cache: none
            io: native
          interfaces:  {{ sap_create_vm_interfaces }}
        resources:
          requests:
            memory: "{{ sap_create_vm_memory|int + sap_create_vm_memory_overhead|int }}Gi"
      evictionStrategy: LiveMigrate
      hostname: "{{ item }}"
      networks: {{ sap_create_vm_networks }}
      terminationGracePeriodSeconds: 180
      volumes:
      - cloudInitNoCloud:
          {{ sap_create_vm_cloud_config }}
        name: cloudinitdisk
      - dataVolume:
          name: "{{ item }}-rootdisk"
        name: rootdisk
      - dataVolume:
          name: "{{ item }}-hana-data-disk"
        name: hana-data-disk
      - dataVolume:
          name: "{{ item }}-hana-log-disk"
        name: hana-log-disk
      - dataVolume:
          name: "{{ item }}-hana-share-disk"
        name: hana-share-disk
