apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  labels:
    app: "{{ item }}"
    flavor.template.kubevirt.io/large: "true"
    os.template.kubevirt.io/rhel8.5: "true"
    vm.kubevirt.io/template: rhel8-server-large
    vm.kubevirt.io/template.namespace: openshift
    vm.kubevirt.io/template.revision: "1"
    vm.kubevirt.io/template.version: v0.19.4
    workload.template.kubevirt.io/server: "true"
  name: "{{ item }}"
  namespace: "{{ vm_namespace }}"
spec:
  dataVolumeTemplates:
  - metadata:
      name: "{{ item }}-hana-data-disk"
    spec:
      source:
        blank: {}
      storage:
        accessModes:
        - ReadWriteMany
        resources:
          requests:
            storage: "{{ dude_vm_memory|int * 2 }}Gi"
        storageClassName: nas
  - metadata:
      name: "{{ item }}-hana-log-disk"
    spec:
      source:
        blank: {}
      storage:
        accessModes:
        - ReadWriteMany
        resources:
          requests:
            storage: 500Gi
        storageClassName: nas
  - metadata:
      name: "{{ item }}-hana-share-disk"
    spec:
      source:
        blank: {}
      storage:
        accessModes:
        - ReadWriteMany
        resources:
          requests:
            storage: 100Gi
        storageClassName: nas
  - metadata:
      name: "{{ item }}-rootdisk"
    spec:
      source:
        pvc:
          name: "{{ocp_rhel_image}}"
          namespace: openshift-virtualization-os-images
      storage:
        accessModes:
        - ReadWriteMany
        resources:
          requests:
            storage: 50Gi
        storageClassName: nas
  running: true
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: large
        vm.kubevirt.io/os: rhel8
        vm.kubevirt.io/workload: server
      labels:
        flavor.template.kubevirt.io/large: "true"
        kubevirt.io/domain: "{{ item }}"
        kubevirt.io/size: large
        os.template.kubevirt.io/rhel8.5: "true"
        vm.kubevirt.io/name: "{{ item }}"
        workload.template.kubevirt.io/server: "true"
#        workload.template.kubevirt.io/saphana: "true"

    spec:
      domain:
        memory:
          guest: "{{ dude_vm_memory }}Gi"

        cpu:
          cores: 10
          threads: 2
          sockets: 2
        devices:
          autoattachMemBalloon: false
          disks:
          - disk:
              bus: virtio
            name: cloudinitdisk
          - bootOrder: 1
            disk:
              bus: virtio
            name: rootdisk
          - disk:
              bus: scsi
            name: hana-data-disk
          - disk:
              bus: scsi
            name: hana-share-disk
          - disk:
              bus: scsi
            name: hana-log-disk

          interfaces:
          - name: sap-bridge-network-definition
            bridge: {}
            model: virtio
            macAddress: "00:AF:FE:0{{ dude_vm_id }}:13:37" 
            networkInterfaceMultiqueue: true

        resources:
          requests:
            memory: "{{ dude_vm_memory|int + dude_vm_memory_overhead|int }}Gi"
      evictionStrategy: LiveMigrate
      hostname: "{{ item }}"
      networks:
      - multus:
          networkName: sap-bridge-network-definition
        name: sap-bridge-network-definition

      terminationGracePeriodSeconds: 180
      volumes:
      - cloudInitNoCloud:
          userData: |
            #cloud-config
            user: cloud-user
            password: 'xxxx'
            chpasswd:
              expire: false
            ssh_authorized_keys:
              - "{{ vm_ssh_key }}"
              - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHX0T0PVh+7B8KU6eLwfXRCO1bXynd/uh0kKkmAaWcBaexlU1fzbXQ3BPzeSn+iJLmer4cTSg2v+BGXG2wBHr9O89mIHYN9FbXKEvE2jngP9kkmX03eRJ+5x4NfiEdbXVv3QVml42n91a52T1JJQvbl8QsQb9Ual88WD8EBCp3uObPH9aLR4hmLEJaXhCO5WKDTy1SwN0ZDPjSnPt332HxuHoRnV0Snp/BlRoma3hKNLVi/NqU6k5qYmjPlL72lY97KrTborDbr+jD5khRue4myt4/WO2RWBJifIzruydzjhql2kFUEi5sIJFRvBXUBl7kv2Lmo6B0CZEES/W+bzCF nils@sinkbad"
            hostname: "{{ item }}"
            bootcmd:
              - touch /tmp/1337
            packages:
             - vim
             - net-tools
             - tmux
             - python3
            runcmd:
              - [ nmcli, con, mod, "System eth0", ipv4.addresses, "{{ dude_sap_ip }}/23" ]
              - [ nmcli, con, mod, "System eth0", ipv4.gateway, 10.76.34.1 ]
              - [ nmcli, con, mod, "System eth0", ipv4.dns, 10.17.122.10 ]
              - [ nmcli, con, mod, "System eth0", ipv4.method, manual ]
              - [ nmcli, con, up, "System eth0" ]
        name: cloudinitdisk
      - dataVolume:
          name: "{{ item }}-rootdisk"
        name: rootdisk
      - dataVolume:
          name: "{{ item }}-hana-data-disk"
        name: hana-data-disk
      - dataVolume:
          name: "{{ item }}-hana-log-disk"
        name: hana-log-disk
      - dataVolume:
          name: "{{ item }}-hana-share-disk"
        name: hana-share-disk
